* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f3542;
 margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1000px;
  max-width: 100%;
  height: 600px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
}
.left {
  width: 40%;
  padding: 40px;
}
.logo img {
  width: 40px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 25px;
  font-size: 34px;
}
label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #807c7c;
  margin-bottom: 15px;
}
.point {
  font-size: 14px;
  margin-left: 18px;
  margin-bottom: 20px;
}
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #4f7cff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background: #3e6ae1;
}
.icon {
  display: flex;
  gap: 15px;
  margin: 20px;
}
.icon i {
  flex: 1;
  text-align: center;
  padding: 12px 0;
  border-radius: 8px;
  background-color: #f2f2f2;
  font-size: 18px;
  cursor: pointer;
}
p {
  text-align: center;
  font-size: 15px;
}
p a {
text-decoration: none;
}
.right {
  width: 60%;
 }
.right img {
  width: 100%;
  height: 100%;
 border-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
.right {
    display: none;
  }
  .left {
    width: 100%;
    padding: 25px;
  }
  h2 {
    font-size: 25px;
  }
}


